
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_UserLayout2.cshtml";
}

<style>
    #divNavigation {
        display: none;
    }
</style>

<div class="span999">
    <div class="alert alert-danger">
        Mua hàng thất lại. Quý khách vui lòng kiểm tra lại. Cảm ơn.
    </div>
</div>
