
@{
    ViewBag.Title = "Sucess";
    Layout = "~/Views/Shared/_UserLayout2.cshtml";
}

<style>
    #divNavigation {
        display: none;
    }
</style>
<div class="span999">
    <div class="alert alert-success">
        Bạn vừa mua hàng thành công.
    </div>
</div>


