<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/HomeAdmin/Index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-cpanel"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="~/Admin/Order/Index">
            <i class="fas fa-truck"></i>
            <span>Quản lý Đơn Hàng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="~/Admin/Product/Index">
            <i class="fas fa-paw"></i>
            <span>Quản lý Thú Cưng</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="~/Admin/ProductCategory/Index">
            <i class="fas fa-tags"></i>
            <span>Danh Mục Loài</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="~/Admin/ProductCategory2/Index">
            <i class="fas fa-tags"></i>
            <span>Danh Mục Giống</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="~/Admin/UserKhachHang/Index">
            <i class="fas fa-user"></i>
            <span>Tài khoản Người Dùng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="~/Admin/UserAdmin/Index">
            <i class="fas fa-user-shield"></i>
            <span>Tài khoản Admin</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="~/Admin/FeedBack/Index">
            <i class="fas fa-comment-alt"></i>
            <span>FeedBack Khách Hàng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="~/Admin/Login/Logout" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt"></i>
            <span>Đăng Xuất</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
